@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Raleway);

.title {
    text-align: center;
}
.green {
    color: #73a839;
}
body {
  padding-top: 50px;
}
body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}
.navbar-brand {
    font-family: 'Lobster';cursive;
    font-size:2em;
}

.info-bar {
    margin-top:10px;
    padding-top:10px;
    padding-bottom:10px;
    border-top: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.info-bar div {
    border-right: 1px solid rgba(0,0,0,.1);
}
.info-bar div:last-child {
    border-right: 0px;
}
footer {
    background-color: dimgrey;
    color: #ffffff;
    margin-top: 20px;
}
