@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Raleway);

.title {
    text-align: center;
}
.green {
    color: #73a839;
}
body, h1, h2, h3, h4, h5, h6 {    
    font-family: 'Raleway', sans-serif;
}
.navbar-brand {
    font-family: 'Lobster';cursive;
    font-size:2em;
}